<nav th:fragment="footer">
    <footer id="footer">
        <div id="footer-widgets" class="spc_container style-1">
            <div class="row">
                <div class="col-md-6">
                    <div id="media_gallery-2" class="widget widget_media_gallery">
                        <h3 class="widget-title"><span>ABOUT  US</span></h3>
                        <p>G4TEC Property & Investment Co.,Ltd, was established since 2011 and has a team of highly
                            dedicated, qualified and experienced professionals who are able to provide direct,
                            exceptional high quality services to our valued customer.
                            This objective is achieved to our customers by providing genuine products and quality
                            solutions through the creative involvement of our employees.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="spark-construction-company-info-4" class="widget widget_information">
                        <h3 class="widget-title"><span>G4TEC Property & Investment Co.,Ltd</span></h3>
                            <ul>
                                <li class="address clearfix">
                                    <p class="mb-10px"><i class="icon fa fa-phone"></i>+855 12 322 004</p>
                                </li>
                                <li class="phone clearfix">
                                    <p class="mb-10px"><i class="icon fa fa-envelope"></i><a href="mailto:info@g4tecinvestment.com">info@g4tecinvestment.com</a></p>
                                </li>
                                <li class="email clearfix">
                                    <p class="mb-10px"><i class="icon fa fa-map-marker"></i>Main Office at Attwood Building, Russian Federation Blvd.(110),
                                        Sangkat Teuk Tla, Khan Sen Sok, Phnom Penh, Cambodia</p>
                                </li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="footer_bottom">
        <div class="spc_container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <p>Copyright &copy; 2019 G4Tec Property & Investment Co.,Ltd </p>
                </div>
            </div>
        </div>
    </div>
</nav>