<header th:fragment="header">
    <header class="spc_general_header spc_header_layout_one header_wrapper">
        <div class="header_inner header_mask">
            <div class="header_top_outer">
                <div class="header_top_inner bg-color-namecheap">
                    <div class="spc_container">
                        <div class="row">
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <div class="header_social">
                                    <div class="menu-social-container">
                                        <ul id="menu-social" class="social_icons_list">
<!--                                            <li id="menu-item-141"-->
<!--                                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-141">-->
<!--                                                <a href="http://facebook.com">Facebook</a></li>-->
<!--                                            <li id="menu-item-142"-->
<!--                                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-142">-->
<!--                                                <a href="http://twitter.com">Twitter</a></li>-->
<!--                                            <li id="menu-item-143"-->
<!--                                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-143">-->
<!--                                                <a href="http://plus.google.com">Google Plus</a></li>-->
<!--                                            <li id="menu-item-144"-->
<!--                                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-144">-->
<!--                                                <a href="http://instagram.com">Instagram</a></li>-->
<!--                                            <li id="menu-item-145"-->
<!--                                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145">-->
<!--                                                <a href="http://linkedin.com">Linkedin</a></li>-->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="header_top_right">
                                    <ul class="company_extraa_info">
                                        <li><span class="contact_number">+855 12 322 004</span><!-- .contact_number -->
                                        </li>
                                        <li><span class="location">Main Office at Attwood Building, Russian Federation Blvd.(110), Sangkat Teuk Tla, Khan Sen Sok, Phnom Penh, Cambodia</span><!-- .email_address -->
                                        </li>
                                    </ul>
                                    <ul class="company_extraa_info">
                                        <li><span>Malaysia, Vietnam, Thailand</span></li>
                                    </ul><!-- .company_extraa_info -->
<!--                                    <ul class="company_extraa_info">-->
<!--                                        <li><span class="contact_number">+66 66 058 8236</span>&lt;!&ndash; .contact_number &ndash;&gt;-->
<!--                                        </li>-->
<!--                                        <li><span class="location">57 Moo 2 Ban Pao District, Ban Na, Nakhon Nayok, Thailand</span>&lt;!&ndash; .email_address &ndash;&gt;-->
<!--                                        </li>-->
<!--                                    </ul>&lt;!&ndash; .company_extraa_info &ndash;&gt;-->
                                </div><!-- .header_top_right -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="spc_header_nav_and_logo_holder shadow">
                <div class="nav_and_logo_holder_inner">
                    <div class="spc_container">
                        <div class="row">
                            <div class="col-md-3 col-sm-9 col-xs-9">
                                <div class="logo_holder">
                                    <a href="/" class="custom-logo-link" rel="home" itemprop="url">
                                        <img src="img/g4tec-logo-trans.png" class="custom-logo" alt=""
                                             srcset="img/g4tec-logo-trans.png 359w, img/g4tec-logo-trans.png 300w"
                                             sizes="(max-width: 300px) 100vw, 359px"
                                        /></a> </div>
                            </div>
                            <div class="col-md-9 col-sm-3 col-xs-3">
                                <nav class="primary_navigation">
                                    <div class="menu-main-menu-container">
                                        <ul id="primary_nav" class="primary_nav m-t-16">
                                            <li
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-208">
                                                <a href="/">Home</a></li>
                                            <li
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-208">
                                                <a href="/glove">Glove Product</a></li>
                                            <li
                                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-216">
                                                <a href="/service">Service</a></li>
                                            <li
                                                class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-199 current_page_item menu-item-has-children menu-item-210">
                                                <a href="/about" aria-current="page">About</a>
                                            </li>
                                            <li
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-211">
                                                <a href="/contact-us">Contact Us</a></li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</header>