<header th:fragment="header">
    <header class="spc_general_header spc_header_layout_one header_wrapper">
        <div class="header_inner header_mask">
            <div class="header_top_outer">
                <div class="header_top_inner">
                    <div class="spc_container">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="header_social">
                                    <div class="menu-social-container">
                                        <ul id="menu-social" class="social_icons_list">
                                            <li id="menu-item-141"
                                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-141">
                                                <a href="http://facebook.com">Facebook</a></li>
                                            <li id="menu-item-142"
                                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-142">
                                                <a href="http://twitter.com">Twitter</a></li>
                                            <li id="menu-item-143"
                                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-143">
                                                <a href="http://plus.google.com">Google Plus</a></li>
                                            <li id="menu-item-144"
                                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-144">
                                                <a href="http://instagram.com">Instagram</a></li>
                                            <li id="menu-item-145"
                                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145">
                                                <a href="http://linkedin.com">Linkedin</a></li>
                                        </ul>
                                    </div>
                                </div><!-- .header_social -->
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <div class="header_top_right">
                                    <ul class="company_extraa_info">
                                        <li>
													<span class="contact_number">
														+977 9860000000 </span><!-- .contact_number -->
                                        </li>
                                        <li>
													<span class="email_address">
														hello@domain.com </span><!-- .email_address -->
                                        </li>
                                        <li>
													<span class="opening_timing">
														Sun-Fri, 9:30-6:00 </span><!-- .opening_timing -->
                                        </li>
                                    </ul><!-- .company_extraa_info -->
                                </div><!-- .header_top_right -->
                            </div>
                        </div><!-- .row -->
                    </div><!-- .spc_container -->
                </div><!-- .header_top_inner -->
            </div><!-- .header_top_outer -->
            <div class="spc_header_nav_and_logo_holder">
                <div class="nav_and_logo_holder_inner">
                    <div class="spc_container">
                        <div class="row">
                            <div class="col-md-3 col-sm-9 col-xs-9">
                                <div class="logo_holder">
                                    <a href="/" class="custom-logo-link" rel="home" itemprop="url"><img
                                            width="359" height="60"
                                            src="wp-content/uploads/2018/03/logo_yellow-1.png" class="custom-logo"
                                            alt="Construction" itemprop="logo"
                                            srcset="wp-content/uploads/2018/03/logo_yellow-1.png 359w, ../wp-content/uploads/2018/03/logo_yellow-1-300x50.png 300w"
                                            sizes="(max-width: 359px) 100vw, 359px" /></a> </div><!-- .logo_holder -->
                            </div>
                            <div class="col-md-9 col-sm-3 col-xs-3">
                                <nav class="primary_navigation">
                                    <div class="menu-main-menu-container">
                                        <ul id="primary_nav" class="primary_nav">
                                            <li id="menu-item-208"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-208">
                                                <a href="/">Home</a></li>
                                            <li id="menu-item-216"
                                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-216">
                                                <a href="/portfolio">Portfolio</a></li>
                                            <li id="menu-item-210"
                                                class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-199 current_page_item menu-item-has-children menu-item-210">
                                                <a href="/about" aria-current="page">About</a>
                                            </li>
                                            <li id="menu-item-211"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-211">
                                                <a href="/contact-us">Contact Us</a></li>
                                        </ul>
                                    </div>
                                </nav><!-- .primary_navigation -->
                            </div>
                        </div><!-- .row -->
                    </div><!-- .spc_container -->
                </div><!-- .nav_and_logo_holder_inner -->
            </div><!-- .spc_header_nav_and_logo_holder -->
        </div><!-- .header_inner header_mask -->
    </header>
</header>