.header_top_outer{
    background-color: #2e3133;
}
.custom-logo{
    max-height: 90px;
}
body{
    font-size: 14px !important;
}
.font-22{
    font-size: 22px !important;
}

.mb-10px{
    margin-bottom: 10px !important;
}
.line-height-30px{
    line-height: 30px;
}
/*.line-height-36px{*/
/*    line-height: 36px;*/
/*}*/
.border-1{
    border: 1px solid #e2e2e2;
}
.border-r-1{
    border-right: 1px solid #e2e2e2;
}
.border-l-r-1{
    border-right: 1px solid #e2e2e2;
    border-left: 1px solid #e2e2e2;
}
.margin-b-35px{
    margin-bottom: 35px !important; ;
}
.border-0{
    border: 0 !important;
}
.mb-2{
    margin: 2rem 0;
}
.mt-2{
    margin-top: 2rem !important;
}
.img-hover{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}
.img-hover:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.pt-b-40px{
    padding: 40px 0;
}
.p-1{
    padding: 1rem !important;
}
.bg-white{
    background-color: #fff;
}
.mb-0{
   margin-bottom: 0 !important;
}
.featured_image {
    border-radius: 8px;
}

