<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default_layout.html">

<head>
    <title>About</title>
</head>

<body class="home page-template-default page page-id-206 wp-custom-logo full_width">
    <div layout:fragment="content">
        <div class="spc_general_single_page_main_wrapper spc_blog_single_page_layout_one_main_wrapper">
            <div class="single_inner">
                <div class="spc_container">
                    <div class="breadcrumb">
                        <nav role="navigation" aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs"
                             itemprop="breadcrumb">
                            <ul class="trail-items breadcrumb_list" itemscope itemtype="http://schema.org/BreadcrumbList">
                                <meta name="numberOfItems" content="2" />
                                <meta name="itemListOrder" content="Ascending" />
                                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"
                                    class="trail-item trail-begin"><a href="/" rel="home" itemprop="item"><span itemprop="name">Home</span></a>
                                    <meta itemprop="position" content="1" />
                                </li>
                                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"
                                    class="trail-item trail-end"><span itemprop="item"><span
                                        itemprop="name">About</span></span>
                                    <meta itemprop="position" content="2" />
                                </li>
                            </ul>
                        </nav>
                    </div><!-- .breadcrumb -->
                    <!-- // breadcrumb -->
                    <div class="left_and_right_section_holder">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <article id="post-199"
                                         class="post-199 page type-page status-publish has-post-thumbnail hentry">
                                    <div class="single_content_area_outer">
                                        <div class="single_title">
                                            <h2>About </h2>
                                        </div><!-- .single_title -->
                                        <div class="single_content">
                                            <div class="entry-content">

                                                <p>G4Tec Engineering are proud to be one of the leading civil contractors in the Cambodia resources and infrastructure sectors.
                                                    The strong success of G4Tec's Civil Contractor Division has been built on a foundation of consistently delivering project works to the
                                                    highest standards. Since beginning as a small civil contractor, G4Tec has demonstrated an outstanding safety record and the capacity to
                                                    deliver high quality projects on time and on budget.</p>
                                                <h3  class="text-center"><b>STRATEGY</b></h3>
                                                <p>• Our strategic objective is to deliver projects that fulfill the customer’s specifications.
                                                    These specifications include the project being delivered on time, within budget and complete legitimacy.<br/>
                                                <p>• Our leverage is derived from a wide spectrum of social groups and our expertise is to deliver medium and large projects in South Africa and Southern Africa.</p>
                                                <p>• In order to fulfill our strategic objective, we apply a unique combination of design, construction and project management.</p>
                                                <h3 class="text-center"><b>Our Mission</b></h3>
                                                <p>G4Tec ENGINEERING mission is to be the preferred provider of electrical building and road
                                                    construction services to each of our valued local and foreign clients, to create rewarding jobs for each of our employees and to earn a fair, commendable return.
                                                </p>
                                                <h3  class="text-center"><b>Our Vision</b></h3>
                                                <p>G4Tec ENGINEERING vision is to be recognized by our constituents as the one of the leader in the Specialty electrical building and road contracting industry.</p>

                                                <h3  class="text-center"><b>Our Values</b></h3>
                                                <p>Values are the fundamental beliefs that shape our behavior, to guide and inspire us.</p>
                                                <div class="text-center">
                                                    <p>•	We will stretch to make it happen and deliver on our promises</p>
                                                    <p>•	We confront problems with honesty and fix them</p>c
                                                    <p>•	We protect G4Tec ENGINEERING’s people, property and equipment</p>
                                                    <p>•	We work hard to keep our customers </p>
                                                </div>
                                            </div><!-- .entry-content -->
                                        </div><!-- .single_content -->
                                    </div><!-- .single_content_area_outer -->
                                </article><!-- #post-199 -->
                            </div>

                        </div>
                    </div><!-- .left_and_right_section_holder -->
                </div><!-- .spc_container -->
            </div><!-- .single_inner -->
        </div>
    </div>
</body>
</html>

