<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default_layout.html">

<head>
    <title>Contact Us</title>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
<div layout:fragment="content">
    <div class="spc_general_single_page_main_wrapper spc_blog_single_page_layout_one_main_wrapper">
        <div class="single_inner">
            <div class="spc_container">
                <div class="breadcrumb">
                    <nav role="navigation" aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs"
                         itemprop="breadcrumb">
                        <ul class="trail-items breadcrumb_list" itemscope itemtype="http://schema.org/BreadcrumbList">
                            <meta name="numberOfItems" content="2" />
                            <meta name="itemListOrder" content="Ascending" />
                            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"
                                class="trail-item trail-begin"><a href="/" rel="home" itemprop="item"><span itemprop="name">Home</span></a>
                                <meta itemprop="position" content="1" />
                            </li>
                            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"
                                class="trail-item trail-end"><span itemprop="item"><span
                                    itemprop="name">Contact</span></span>
                                <meta itemprop="position" content="2" />
                            </li>
                        </ul>
                    </nav>

                </div><!-- .breadcrumb -->
                <!-- // breadcrumb -->
                <div class="left_and_right_section_holder">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 mb-2 text-center" >
                            <p><b>G4Tec Engineering Cambodia</b></p>
                            <p><i class="icon fa fa-phone"></i>+855 12 322 004</p>
                            <p><i class="icon fa fa-envelope"></i><a href="mailto:info@demomail.com">info@g4tecengineering.com</a></p>
                            <p><i class="icon fa fa-map-marker"></i>#94,st 608, Sangkat Boeung Kak 1, Khan Toul Kork, Phnom Penh, Cambodia</p>
                        </div>
<!--                        <div class="col-lg-6 col-md-12 col-sm-12 mb-2">-->
<!--                            <p class="text-center"><b>G4Tec Engineering Thailand</b></p>-->
<!--                            <p><i class="icon fa fa-phone"></i>+66 66 058 8236</p>-->
<!--                            <p><i class="icon fa fa-envelope"></i><a href="mailto:info@demomail.com">info@sdctengineering.com</a></p>-->
<!--                            <p><i class="icon fa fa-map-marker"></i>57 Moo 2 Ban Pao District, Ban Na, Nakhon Nayok, Thailand</p>-->
<!--                        </div>-->
                </div><!-- .left_and_right_section_holder -->
                    <div class="text-center mt-2" >
                        <img class="img-hover" style="width: 90%; height: auto"  src="img/contact-us-g4tec.png"  alt="">
                    </div>
            </div><!-- .spc_container -->

        </div><!-- .single_inner -->
    </div>
</div>
</body>
</html>


