<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default_layout.html">
<head>
    <title>Glove Product</title>
    <script src="js/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
</head>
<body class="home page-template-default page page-id-206 wp-custom-logo full_width">
<div layout:fragment="content">
    <div class="spc_banner">

        <section class="spc_who_we_are who_we_are_layout_two">
            <div class="section_inner">
                <div class="spc_container">
                    <a href="#" class="general_btn_layout_one color-yellow" >OUR PRODUCT SPECIFICATION </a>
                    <a href="/glove_cert" class="general_btn_layout_one color-yellow">OUR PRODUCT CERTIFICATE</a>
                    <a href="#" class="general_btn_layout_one color-yellow" > OUR PRODUCTION LINE </a>
                    <a href="#" class="general_btn_layout_one color-yellow" > OUR FACTOR DESIGN </a>
                </div>
            </div>
        </section>

        <section class="spc_who_we_are who_we_are_layout_two">
            <div class="section_inner">
                <div class="spc_container" id="our_product_spec">
                    <div class="section_title">
                        <h2>OUR <span>PRODUCT SPECIFICATIONS</span></h2>
                    </div>
                    <div class="section_desc">
                        <!--                    <p>Culpa sunt ratione molestiae quod vero, corrupti recusandae iste nihil sed facere,-->
                        <!--                            veritatis illo, animi similique eveniet, nam tempora. Nostrum, consequuntur, vel! Qui, quia, soluta.</p>-->
                    </div>
                    <div class="section_content">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="who_we_are_left_block itemgrid_block">
                                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="heading0">
                                                <h4 class="panel-title">
                                                    <a class="first" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse0"
                                                       aria-expanded="true" aria-controls="collapse0">
                                                        Material</a>
                                                </h4>
                                            </div>
                                            <div id="collapse0" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading0">
                                                <div class="panel-body">
                                                    <p>Synthetic Nitrile latex</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="heading1">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                                       href="#collapse1" aria-expanded="false" aria-controls="collapse1">
                                                        Type</a>
                                                </h4>
                                            </div>
                                            <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                                                <div class="panel-body">
                                                    <p>Non-Sterile Powder-Free<br>
                                                        Ambidextrous; Finger Tip; Beaded Cuff; Blue and White</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="heading2">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                                       href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                                        Quality Standards</a>
                                                </h4>
                                            </div>
                                            <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                                                <div class="panel-body">
                                                    <p>Manufactured under ISO 9001:2015, ISO, ISO 13485:2016, FDA, CE<br>
                                                        Quality Management System<br>
                                                        Manufactured from 100% nitrile (Acrylonitrile-Butadiene)</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="heading3">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                                       href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                                        Gloves Size</a>
                                                </h4>
                                            </div>
                                            <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                                                <div class="panel-body">
                                                    <p>Extra Small, Small, Medium, Large, Extra Large<br>
                                                        Black marked in the check box on the shipping carton</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="heading4">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                                       href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                                        Storage</a>
                                                </h4>
                                            </div>
                                            <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                                                <div class="panel-body">
                                                    <p>Store in a cool and dry place, temperature is not higher than 38C</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="heading5">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                                       href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                                        Shelf-life</a>
                                                </h4>
                                            </div>
                                            <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                                                <div class="panel-body">
                                                    <p>3 years from the date of manufacturing</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12"style="padding-left: 0" >
                                <div class="who_we_are_right_block itemgrid_block">
                                    <div class="custom1 owl-carousel owl-theme owl-loaded owl-drag styles">
                                        <div class="owl-item"><img src="img/gloves/glove-box-1.JPG" alt=""></div>
                                        <div class="owl-item"><img src="img/gloves/glove-box-2.JPG" alt=""></div>
                                        <div class="owl-item"><img src="img/gloves/glove-box-3.JPG" alt=""></div>
                                        <div class="owl-item"><img src="img/gloves/glove-box-4.JPG" alt=""></div>
                                        <div class="owl-item"><img src="img/gloves/glove-box-5.JPG" alt=""></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </div>
</div>
</body>
</html>
