<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default_layout.html">
<head>
    <title>Glove Product</title>
    <script src="js/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
</head>
    <body class="home page-template-default page page-id-206 wp-custom-logo full_width">
        <div layout:fragment="content">
            <div class="spc_banner">

                <section class="spc_who_we_are who_we_are_layout_two">
                    <div class="section_inner d-flex">
                        <div class="spc_container ">
                            <a href="/glove_spec" class="general_btn_layout_one color-yellow m-b-5p" >OUR PRODUCT SPECIFICATION </a>
                            <a href="/glove_cert" class="general_btn_layout_one color-yellow m-b-5p">OUR PRODUCT CERTIFICATE</a>
                            <a href="/glove_pro_line" class="general_btn_layout_one color-yellow m-b-5p" > OUR PRODUCTION LINE </a>
                            <a href="/glove_fac_design" class="general_btn_layout_one color-yellow m-b-5p" > OUR FACTORY DESIGN </a>
                            <a href="#" class="general_btn_layout_one color-yellow m-b-5p" > OUR DISTRIBUTORS </a>
                        </div>
                    </div>
                </section>

                <section class="spc_who_we_are section_bg">
                    <div class="section_inner">
                        <div class="spc_container">
                            <div class="section_title">
                                <h2>Our <span>SALES REPRESENTATIVE</span> </h2>
                            </div>
                            <div class="section_content">
                                <div class="row clearfix">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="who_we_are_left_block itemgrid_block">
                                            <ul class="who_we_are_accordion">
                                                <li>
                                                    <a class="active"><h3> Our Aim and Mission </h3></a>
                                                    <p style="display: block; font-size: 25px">1. Captain zokhri +60 16-722 1103 </p>
                                                    <p style="display: block; font-size: 25px">2. Mohamad hafiz bin sobree +60 17-984 6256 </p>
                                                    <p style="display: block; font-size: 25px">3. Shazwan ariff bin saiful bahri +60 12-612 3575 </p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="spc_who_we_are who_we_are_layout_two">
                    <div class="section_inner">
                        <div class="spc_container" id="our_product_spec">
                            <div class="section_title">
                                <h2>OUR <span>PRODUCT DISTRIBUTORS</span></h2>
                            </div>
                            <div class="section_content">
                                <div class="row mb-15">
                                    <div class="col-md-3 col-sm-12 col-xs-12 mb-15">
                                        <h3>
                                            GAP RESOURCES (M) SDN. BHD.
                                        </h3>
                                    </div>
                                    <div class="col-md-3 col-sm-12 col-xs-12 mb-15">
                                        <h3>GLOBAL ERA ADVERTISING & TRADING SDN. BHD</h3>
                                    </div>
                                    <div class="col-md-3 col-sm-12 col-xs-12 mb-15">
                                        <h3>GRAND FALCON EMPIRE</h3>
                                    </div>
                                    <div class="col-md-3 col-sm-12 col-xs-12 mb-15">
                                        <h3>MAJU TANAH DEVELOPMENT SDN.</h3>
                                    </div>
                                </div>
                                <div class="row mb-15">
                                    <div class="col-md-3 col-sm-12 col-xs-12 mb-15">
                                        <h3>
                                            KANGHI INTL SDN. BHD.
                                        </h3>
                                    </div>
                                    <div class="col-md-3 col-sm-12 col-xs-12 mb-15">
                                        <h3>
                                            MIZALLA 55 SDN. BHD.
                                        </h3>
                                    </div>
                                    <div class="col-md-3 col-sm-12 col-xs-12 mb-15">
                                        <h3>
                                            LIFECARE CELLS (M) SDN. BHD.
                                        </h3>
                                    </div>
                                    <div class="col-md-3 col-sm-12 col-xs-12 mb-15">
                                        <h3>
                                            PRO IMAGE DECORATORS
                                        </h3>
                                    </div>
                                </div>
                                <div class="row md-15 row-center" >
                                    <div class="col-md-3 col-sm-12 col-xs-12 mb-15 md-center">
                                        <h3>
                                            WE CLICK HOLDINGS SDN. BHD.
                                        </h3>
                                    </div>
                                    <div class="col-md-3 col-sm-12 col-xs-12 mb-15 md-center">
                                        <h3>
                                            NORTHERN PEARL SDN BHD
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </body>
</html>

