<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default_layout.html">

<head>
    <title>Home</title>
    <link rel="stylesheet" href="css/index.css">

<!--    <script src="https://kit.fontawesome.com/2cc411afa6.js"></script>-->
</head>

<body class="home page-template-default page page-id-206 wp-custom-logo full_width">
    <div layout:fragment="content">
        <div class="spc_banner">
            <div class="spc_banner_inner">
                <div class="owl-carousel home_page_slider">
                    <div class="item">
                        <img width="1200" height="571" src="img/homepage-g4tec-glove.png"
                             class="img-responsive wp-post-image" alt="We Build Your Need"
                             srcset="img/homepage-g4tec-glove.png 1366w, img/homepage-g4tec-glove.png 300w, img/homepage-g4tec-glove.png 768w, homepage-g4tec-glove.png 1024w"
                             sizes="(max-width: 1200px) 100vw, 1200px" />
                        <div class="spc_container">
                            <div class="slider_caption">
                                <h2>G4Tec <span>Gloves</span> </h2>
                                <p class="font-22">Gloves: Our gloves are made with only the best quality materials to bring you the best quality products.</p>
                                <div class="mt-2"><a href="/glove" class="border-rad-10 t-white">Click for more information.</a></div>
                            </div>
                        </div>
                        <div class="thin_mask"></div>
                    </div>
                    <div class="item">
                        <img width="1200" height="571" src="img/homepage-new-1.jpg"
                             class="img-responsive wp-post-image" alt="We Realize Your Dream"
                             srcset="img/homepage-new-1.jpg 1366w, img/homepage-new-1.jpg 300w, img/homepage-new-1.jpg 768w, img/homepage-new-1.jpg 1024w"
                             sizes="(max-width: 1200px) 100vw, 1200px"/>
                        <div class="spc_container">
                            <div class="slider_caption">
                                <h2>Our <span>Mission</span> </h2>
                                <p class="font-22">G4Tec Property & Investment Co.,Ltd mission is to be the preferred provider of electrical building and road construction services to each of our valued local and foreign clients,
                                    to create rewarding jobs for each of our employees and to earn a fair, commendable return.</p>
                            </div>
                        </div>
                        <div class="thin_mask"></div><!-- .thin_mask -->
                    </div>
                    <div class="item">
                        <img width="1200" height="571" src="img/homepage-new-2.png"
                             class="img-responsive wp-post-image" alt="We Plan Your Future"
                             srcset="img/homepage-new-2.png 1366w, img/homepage-new-2.png 300w, img/homepage-new-2.png 768w, img/homepage-new-2.png 1024w"
                             sizes="(max-width: 1200px) 100vw, 1200px"/>
                        <div class="spc_container">
                            <div class="slider_caption">
                                <h2>Our <span>Vision</span> </h2>
                                <p class="font-22">G4Tec Property & Investment Co.,Ltd vision is to be recognized by our constituents as
                                    the one of the leader in the Specialty electrical building and road contracting industry.</p>
                            </div>
                        </div>
                        <div class="thin_mask"></div>
                    </div>
                    <div class="item">
                        <img width="1200" height="571" src="img/homepage-new-3.jpg"
                             class="img-responsive wp-post-image" alt="We Build Your Need"
                             srcset="img/homepage-new-3.jpg 1366w, img/homepage-new-3.jpg 300w, img/homepage-new-3.jpg 768w, img/homepage-new-3.jpg 1024w"
                             sizes="(max-width: 1200px) 100vw, 1200px" />
                        <div class="spc_container">
                            <div class="slider_caption">
                                <h2>Our <span>Values</span> </h2>
                                <p class="font-22">Values are the fundamental beliefs that shape our behavior, to guide and inspire us.<br/>
                                    •	We will stretch to make it happen and deliver on our promises<br/>
                                    •	We confront problems with honesty and fix them<br/>
                                    •	We protect G4Tec Property & Investment Co.,Ltd’s people, property and equipment<br/>
                                    •	We work hard to keep our customers</p>
                            </div>
                        </div>
                        <div class="thin_mask"></div>
                    </div>
                </div>
            </div>
        </div>
        <section class="spc_who_we_are section_bg">
            <div class="section_inner">
                <div class="spc_container">
                    <div class="section_title">
                        <h2>About Our <span>Company</span> </h2>
                    </div><!-- .section_title -->
                    <div class="section_desc">
                        <p>G4Tec Property & Investment Co.,Ltd, was established since 2011 and has a team of highly dedicated, qualified and experienced professionals who are able to provide direct,
                            exceptional high quality services to our valued customer. This objective is achieved to our customers by providing genuine products and quality solutions through the creative involvement of our employees.</p>
                    </div><!-- .section_desc -->
                    <div class="section_content">
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="who_we_are_left_block itemgrid_block">
                                    <ul class="who_we_are_accordion">
                                        <li>
                                            <a class="active">Our Aim and Mission </a>
                                            <p style="display: block">G4Tec Property & Investment Co.,Ltd mission is to be the preferred provider of electrical building and road construction services to each of our valued local and foreign clients,
                                                to create rewarding jobs for each of our employees and to earn a fair, commendable return..</p>
                                        </li>
                                        <li>
                                            <a class="active">Our Vision </a>
                                            <p style="display: block">G4Tec Property & Investment Co.,Ltd vision is to be recognized by our constituents as
                                                the one of the leader in the Specialty electrical building and road contracting industry.</p>
                                        </li>
                                        <li>
                                            <a class="active">Our Values</a>
                                            <p style="display: block">Values are the fundamental beliefs that shape our behavior, to guide and inspire us.<br/>
                                                •	We will stretch to make it happen and deliver on our promises<br/>
                                                •	We confront problems with honesty and fix them<br/>
                                                •	We protect G4Tec Property & Investment Co.,Ltd’s people, property and equipment<br/>
                                                •	We work hard to keep our customers</p>
                                        </li>
                                    </ul><!-- .who_we_are_accordion -->
                                </div><!-- .who_we_are_left_block.itemgrid_block -->
                            </div>
                        </div><!-- .row -->
                    </div><!-- .section_content -->
                </div><!-- .spc_container -->
            </div><!-- .section_inner -->
        </section>
        <section class="spc_general_section spc_ourservice">
            <div class="section_inner">
                <div class="spc_container">
                    <div class="section_title">
                        <h2>Our Main <span>Business and Services</span> </h2>
                    </div><!-- .section_title -->
                    <div class="section_desc">
                        <p>G4Tec Property & Investment Co.,Ltd, was established since 2011 and has a team of highly dedicated, qualified and experienced professionals who are able to provide direct,
                            exceptional high quality services to our valued customer. This objective is achieved to our customers by providing genuine products and quality solutions through the creative involvement of our employees.</p>
                    </div><!-- .section_desc -->
                    <div class="section_content">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="ourservice_block itemgrid_block">
                                    <div class="service_fimage featured_image">
                                        <img width="1203" height="803" src="img/homepage/homepage-building-1100.png"
                                             class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
                                             alt="Architectural Design"
                                             srcset="img/homepage/homepage-building-1100.png 1100w, img/business-1.png 300w, img/business-1.png 768w, img/business-1.png 1024w, img/business-1.png 640w"
                                             sizes="(max-width: 1203px) 100vw, 1203px" /> </div>
                                    <div class="content_holder">
                                        <div class="service_title">
                                            <h3>
                                                <a href="/service">Construction Expert </a>
                                            </h3>
                                        </div>
                                        <div class="service_desc">Our company has 20 Years Experience in various of constructions across the country.</div><!-- .service_desc -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="ourservice_block itemgrid_block">
                                    <div class="service_fimage featured_image">
                                        <img width="1203" height="803" src="img/service/service-4.jpg"
                                             class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
                                             alt="Building Construction"
                                             srcset="img/service/service-4.png 1203w, img/service/service-4-300x200.jpg 300w, img/service/service-4-768x513.jpg 768w, img/service/service-4-1024x684.jpg 1024w, img/service/service-4-640x426.jpg 640w"
                                             sizes="(max-width: 1203px) 100vw, 1203px" /> </div>
                                    <!-- .service_fimage.featured_image -->
                                    <!-- .service_fimage.featured_image -->
                                    <div class="content_holder">
                                        <div class="service_title">
                                            <h3>
                                                <a href="/service"> Project Consultant </a>
                                            </h3>
                                        </div><!-- .service_title -->
                                        <div class="service_desc">G4Tec have enough experience and ability to survey evaluate estimate and design the structure with the standard by our teamwork. </div><!-- .service_desc -->
                                    </div><!-- .content_holder -->
                                </div><!-- .ourservice_block -->
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="ourservice_block itemgrid_block">
                                    <div class="service_fimage featured_image">
                                        <img width="1203" height="803" src="img/service-6.jpg"
                                             class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
                                             alt="Electrical Wiring"
                                             srcset="img/service-6.jpg 1104w, img/service-6-300x200.jpg 300w, img/service-6-768x513.jpg 768w, img/service-6-1024x684.jpg 1024w, img/service-6-640x426.jpg 640w"
                                             sizes="(max-width: 1203px) 100vw, 1203px" /> </div>
                                    <!-- .service_fimage.featured_image -->
                                    <!-- .service_fimage.featured_image -->
                                    <div class="content_holder">
                                        <div class="service_title">
                                            <h3>
                                                <a href="/service">Power systems and Security Solution </a>
                                            </h3>
                                        </div><!-- .service_title -->
                                        <div class="service_desc">G4Tec Property & Investment Co.,Ltd is a designer and provider of power electronic systems and solutions
                                            for all critical power supply needs. Moreover, G4Tec Property & Investment Co.,Ltd is providing complete range of Electronic
                                            Security Systems all over Cambodia</div><!-- .service_desc -->
                                    </div><!-- .content_holder -->
                                </div><!-- .ourservice_block -->
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="ourservice_block itemgrid_block">
                                    <div class="service_fimage featured_image">
                                        <img width="1203" height="803" src="img/homepage/homepage-road-1100.jpg"
                                             class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
                                             alt="Electrical Wiring"
                                             srcset="img/homepage/homepage-road-1100.jpg 1104w, img/homepage/new-homepage-1.png 300w, img/homepage/new-homepage-1.png 768w, img/homepage/new-homepage-1.png 1024w, img/homepage/new-homepage-1.png 640w"
                                             sizes="(max-width: 1203px) 100vw, 1203px" /> </div>
                                    <!-- .service_fimage.featured_image -->
                                    <!-- .service_fimage.featured_image -->
                                    <div class="content_holder">
                                        <div class="service_title">
                                            <h3>
                                                <a href="/service">Road Constructions</a>
                                            </h3>
                                        </div><!-- .service_title -->
                                        <div class="service_desc">G4Tec Property & Investment Co.,Ltd already prepared to responsible in
                                            the all types of road construction with enough modern equipment and the diversity, skills , competence and empowerment of our workforce.</div><!-- .service_desc -->
                                    </div><!-- .content_holder -->
                                </div><!-- .ourservice_block -->
                            </div>
                        </div><!-- .row -->
                    </div><!-- .section_content -->
                    <a class="general_btn_layout_one" href="/service">More Detail </a><!-- .general_btn_layout_one -->
                </div><!-- .spc_container -->
            </div><!-- .section_inner -->
        </section>
        <!--<section class="spc_general_section spc_counter_Section">
            <div class="section_inner" style="background-image:url('wp-content/uploads/2018/02/counter-background.jpg');">
                <div class="spc_container">
                    <div class="section_content">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-6">
                                <div class="counterup_block itemgrid_block">
                                    <div class="what_we_offer_icon">
                                        <span class="icon_holder">
                                            <span class="counter">2000 </span>&lt;!&ndash; .counter &ndash;&gt;
                                        </span>&lt;!&ndash; .icon_holder &ndash;&gt;
                                    </div>&lt;!&ndash; .what_we_offer_icon &ndash;&gt;
                                    <div class="content_holder">
                                        <div class="service_title">
                                            <h3>Engineers </h3>
                                        </div>&lt;!&ndash; .service_title &ndash;&gt;
                                    </div>&lt;!&ndash; .content_holder &ndash;&gt;
                                </div>&lt;!&ndash; .what_we_offer_block.itemgrid_block &ndash;&gt;
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-6">
                                <div class="counterup_block itemgrid_block">
                                    <div class="what_we_offer_icon">
                                                    <span class="icon_holder">
                                                        <span class="counter">
                                                            100 </span>&lt;!&ndash; .counter &ndash;&gt;
                                                    </span>&lt;!&ndash; .icon_holder &ndash;&gt;
                                    </div>&lt;!&ndash; .what_we_offer_icon &ndash;&gt;
                                    <div class="content_holder">
                                        <div class="service_title">
                                            <h3>
                                                Awards Won </h3>
                                        </div>&lt;!&ndash; .service_title &ndash;&gt;
                                    </div>&lt;!&ndash; .content_holder &ndash;&gt;
                                </div>&lt;!&ndash; .what_we_offer_block.itemgrid_block &ndash;&gt;
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-6">
                                <div class="counterup_block itemgrid_block">
                                    <div class="what_we_offer_icon">
                                                    <span class="icon_holder">
                                                        <span class="counter">
                                                            20000 </span>&lt;!&ndash; .counter &ndash;&gt;
                                                    </span>&lt;!&ndash; .icon_holder &ndash;&gt;
                                    </div>&lt;!&ndash; .what_we_offer_icon &ndash;&gt;
                                    <div class="content_holder">
                                        <div class="service_title">
                                            <h3>
                                                Satisfied Clients </h3>
                                        </div>&lt;!&ndash; .service_title &ndash;&gt;
                                    </div>&lt;!&ndash; .content_holder &ndash;&gt;
                                </div>&lt;!&ndash; .what_we_offer_block.itemgrid_block &ndash;&gt;
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-6">
                                <div class="counterup_block itemgrid_block">
                                    <div class="what_we_offer_icon">
                                                    <span class="icon_holder">
                                                        <span class="counter">
                                                            20000 </span>&lt;!&ndash; .counter &ndash;&gt;
                                                    </span>&lt;!&ndash; .icon_holder &ndash;&gt;
                                    </div>&lt;!&ndash; .what_we_offer_icon &ndash;&gt;
                                    <div class="content_holder">
                                        <div class="service_title">
                                            <h3>
                                                Projects Completed </h3>
                                        </div>&lt;!&ndash; .service_title &ndash;&gt;
                                    </div>&lt;!&ndash; .content_holder &ndash;&gt;
                                </div>&lt;!&ndash; .what_we_offer_block.itemgrid_block &ndash;&gt;
                            </div>
                        </div>&lt;!&ndash; .row &ndash;&gt;
                    </div>&lt;!&ndash; .section_content &ndash;&gt;
                </div>&lt;!&ndash; .spc_container &ndash;&gt;
                <div class="thin_mask"></div>&lt;!&ndash; .thin_mask &ndash;&gt;
            </div>&lt;!&ndash; .section_inner &ndash;&gt;
        </section>&lt;!&ndash; .spc_general_section.spc_counter_Section &ndash;&gt;-->
        <section class="spc_general_section spc_our_blog_release_layout_one section_bg">
            <div class="section_inner">
                <div class="spc_container">
                    <div class="section_title">
                        <h2>Our Latest <span>Services</span> </h2>
                    </div><!-- .section_title -->
                    <div class="section_desc">
                    </div><!-- .section_desc -->
                    </div><!-- .section_desc -->
                    <div class="section_content">
                        <div class="container">
                            <div class="row border-1 mb-10px line-height-30px">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 border-r-1 ">
                                <div class="our_blog_block itemgrid_block border-0 margin-b-35px">
                                    <div class="content_holder">
                                        <div class="blog_title service_title">
                                            <h3><a href="/service">Engineering Construction</a></h3>
                                        </div>
                                        <div class="blog_category">
                                            <p class="cat-links">Construction Engineering is a professional discipline that deals with the designing, planning, construction, and management
                                                of infrastructures such as roads, tunnels, bridges, airports, rail roads, facilities, buildings, dams, utilities and other projects.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
                                <div class="our_blog_block itemgrid_block border-0">
                                    <div class="content_holder">
                                        <div class="blog_title service_title">
                                            <h3><a href="/service">Architecture</a></h3>
                                        </div>
                                        <div class="blog_category">
                                            <span  class="cat-links">Architecture</span>
                                            <p class="text-left">• Office and Commercial Building
                                                • Hotel and Condominiums<br/>
                                                • Renovations<br/>
                                                • Furniture installation<br/>
                                                • Art Service<br/>
                                                • Design Services
                                            <span>

                                            </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 border-l-r-1">
                                <div class="our_blog_block itemgrid_block mb-0 border-0">
                                    <div class="content_holder">
                                        <div class="blog_title service_title">
                                            <h3><a href="/service">Project Consulting</a></h3>
                                        </div>
                                        <div class="blog_category">
                                            <span class="cat-links">Design & Architecture</span>
                                            <p class="text-left">•Architecture Design
                                                •Landscape Design
                                                •Exterior and Interior Design
                                                •Furniture and Structure Design
                                                •Urban Planning</p>
                                            <span class="cat-links">MEP Engineering</span>
                                            <p class="text-left">•Power & Electricity Supply & Installation <br/>
                                                •Mechanical & Civil Engineering Water <br/>
                                                •Treatment & Plumbing</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="our_blog_block itemgrid_block border-0">
                                    <div class="content_holder">
                                        <div class="blog_title service_title">
                                            <h3>Security Systems Solution</h3>
                                        </div>
                                        <div class="blog_category">
                                            <span class="cat-links"> Industry Security Solutions </span>
                                            <p>• Fire Fighting System <br/>
                                                • Electronic surveillance industry</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        <a class="general_btn_layout_one" href="/service">View More </a>
                        </div>
                    </div>
                </div>
        </section>
        <section class="spc_general_section spc_cta">
            <div class="section_inner" style="background-image:url('img/cta-background.jpg');">
                <div class="spc_container">
                    <div class="section_title">
                        <h2> Interesting? <span> CONTACT US</span> </h2>
                    </div><!-- .section_title -->
                    <div class="section_content">
                        <div class="cta_contents">
                            <p> If you have any question regarding our team, please feel free to contact us anytime!</p>
                            <a class="general_btn_layout_one" href="/contact-us">Get Now </a><!-- .general_btn_layout_one -->
                        </div><!-- .cta_contents -->
                    </div><!-- .section_content -->
                </div><!-- .spc_container -->
                <div class="thin_mask"></div><!-- .thin_mask -->
            </div><!-- .section_inner -->
        </section>
        <section class="spc_general_section spc_our_partners"></section>
    </div>
</body>
</html>
