<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default_layout.html">

    <head>
        <title>Service</title>
        <link rel="stylesheet" href="css/index.css">
    </head>

    <body>
        <div layout:fragment="content">
            <div class="spc_general_single_page_main_wrapper spc_archive_layout_one_main_wrapper">
            <div class="single_inner">
                <div class="spc_container">
                    <div class="breadcrumb">
                        <nav role="navigation" aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs"
                             itemprop="breadcrumb">
                            <ul class="trail-items breadcrumb_list" itemscope itemtype="http://schema.org/BreadcrumbList">
                                <meta name="numberOfItems" content="2" />
                                <meta name="itemListOrder" content="Ascending" />
                                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"
                                    class="trail-item trail-begin"><a href="/" rel="home" itemprop="item"><span itemprop="name">Home</span></a>
                                    <meta itemprop="position" content="1" />
                                </li>
                                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"
                                    class="trail-item trail-end"><span itemprop="item"><span
                                        itemprop="name">Service</span></span>
                                    <meta itemprop="position" content="2" />
                                </li>
                            </ul>
                        </nav>
                    </div><!-- .breadcrumb -->
                    <div class="left_and_right_section_holder">
                        <div class="row">
                            <div class="single_content_area_outer">
                                <div class="single_title">
                                    <h2>Our Services</h2>
                                </div><!-- .single_title -->
                                <div class="row">
                                    <div class="section_content">
                                        <div class="row">
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <div class="ourservice_block itemgrid_block">
                                                    <div class="service_fimage featured_image">
                                                        <img width="1203" height="803" src="img/homepage/homepage-building-1100.png"
                                                             class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
                                                             alt="Architectural Design"
                                                             srcset="img/homepage/homepage-building-1100.png 1100w, img/business-1.png 300w, img/business-1.png 768w, img/business-1.png 1024w, img/business-1.png 640w"
                                                             sizes="(max-width: 1203px) 100vw, 1203px" /> </div>
                                                    <!-- .service_fimage.featured_image -->
                                                    <!-- .service_fimage.featured_image -->
                                                    <div class="content_holder">
                                                        <div class="service_title">
                                                            <h3>Construction Expert</h3>
                                                        </div><!-- .service_title -->
                                                        <div class="service_desc">Our company has 20 Years Experience in various of constructions across the country.</div><!-- .service_desc -->
                                                    </div><!-- .content_holder -->
                                                </div><!-- .ourservice_block -->
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <div class="ourservice_block itemgrid_block">
                                                    <div class="service_fimage featured_image">
                                                        <img width="1203" height="803" src="wp-content/uploads/2018/02/service-four.jpg"
                                                             class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
                                                             alt="Building Construction"
                                                             srcset="wp-content/uploads/2018/02/service-four.jpg 1203w, wp-content/uploads/2018/02/service-four-300x200.jpg 300w, wp-content/uploads/2018/02/service-four-768x513.jpg 768w, wp-content/uploads/2018/02/service-four-1024x684.jpg 1024w, wp-content/uploads/2018/02/service-four-640x426.jpg 640w"
                                                             sizes="(max-width: 1203px) 100vw, 1203px" /> </div>
                                                    <!-- .service_fimage.featured_image -->
                                                    <!-- .service_fimage.featured_image -->
                                                    <div class="content_holder">
                                                        <div class="service_title">
                                                            <h3>roject Consultant</h3>
                                                        </div><!-- .service_title -->
                                                        <div class="service_desc">G4Tec have enough experience and ability to survey evaluate estimate and design the structure with the standard by our teamwork. </div><!-- .service_desc -->
                                                    </div><!-- .content_holder -->
                                                </div><!-- .ourservice_block -->
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <div class="ourservice_block itemgrid_block">
                                                    <div class="service_fimage featured_image">
                                                        <img width="1203" height="803" src="wp-content/uploads/2018/02/service-six.jpg"
                                                             class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
                                                             alt="Electrical Wiring"
                                                             srcset="wp-content/uploads/2018/02/service-six.jpg 1104w, wp-content/uploads/2018/02/service-six-300x200.jpg 300w, wp-content/uploads/2018/02/service-six-768x513.jpg 768w, wp-content/uploads/2018/02/service-six-1024x684.jpg 1024w, wp-content/uploads/2018/02/service-six-640x426.jpg 640w"
                                                             sizes="(max-width: 1203px) 100vw, 1203px" /> </div>
                                                    <!-- .service_fimage.featured_image -->
                                                    <!-- .service_fimage.featured_image -->
                                                    <div class="content_holder">
                                                        <div class="service_title">
                                                            <h3>Power systems and Security Solution</h3>
                                                        </div><!-- .service_title -->
                                                        <div class="service_desc">G4Tec Engineering is a designer and provider of power electronic systems and solutions
                                                            for all critical power supply needs.  Moreover, G4Tec Engineering is providing complete range of Electronic
                                                            Security Systems all over Cambodia </div><!-- .service_desc -->
                                                    </div><!-- .content_holder -->
                                                </div><!-- .ourservice_block -->
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <div class="ourservice_block itemgrid_block">
                                                    <div class="service_fimage featured_image">
                                                        <img width="1203" height="803" src="img/homepage/homepage-road-1100.jpg"
                                                             class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
                                                             alt="Electrical Wiring"
                                                             srcset="img/homepage/homepage-road-1100.jpg 1104w, img/homepage/new-homepage-1.png 300w, img/homepage/new-homepage-1.png 768w, img/homepage/new-homepage-1.png 1024w, img/homepage/new-homepage-1.png 640w"
                                                             sizes="(max-width: 1203px) 100vw, 1203px" /> </div>
                                                    <!-- .service_fimage.featured_image -->
                                                    <!-- .service_fimage.featured_image -->
                                                    <div class="content_holder">
                                                        <div class="service_title">
                                                            <h3>Road Constructions</h3>
                                                        </div><!-- .service_title -->
                                                        <div class="service_desc">G4Tec Engineering already prepared to responsible in
                                                            the all types of road construction with enough modern equipment and the diversity, skills , competence and empowerment of our workforce.</div><!-- .service_desc -->
                                                    </div><!-- .content_holder -->
                                                </div><!-- .ourservice_block -->
                                            </div>
                                        </div><!-- .row -->
                                    </div><!-- .section_content -->
                                </div><!-- .row -->
                            </div><!-- .single_content_area_outer -->
                        </div><!-- .row -->
                    </div><!-- .left_and_right_section_holder -->
                </div><!-- .spc_container -->
                <section class="spc_who_we_are section_bg">
                    <div class="section_inner pt-b-40px mb-2">
                        <div class="spc_container">
                            <div class="section_title">
                                <h2>CONSTRUCTION<span> EXPERT</span> </h2>
                            </div><!-- .section_title -->
                            <div class="section_content">
                                <div class="row clearfix">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="who_we_are_left_block itemgrid_block">
                                            <ul class="who_we_are_accordion">
                                                <li>
                                                    <a><b>Engineering Construction</b></a>
                                                    <p>Construction Expert Services retains extensive knowledge and experience involving all stages of construction and is well placed to provide analysis of complicated construction defects and problems that can arise.
                                                        Construction Engineering is a professional discipline that deals with the designing, planning, construction, and management of infrastructures such as roads, tunnels, bridges, airports, rail roads, facilities, buildings, dams, utilities and other projects.
                                                        Whether it is a completely new development, renovation of an existing building or new fit out contract our team have the expertise to deliver and excel for the client to ensure the contract will be completed on time, on budget and in exceeding the client's expectation. We like to pride ourselves in understanding our clients requirements and working closely with
                                                        them to deliver the contracts with minimal impact on both the environment and the public at large.</p>
                                                </li>
                                                <li>
                                                    <a class="active"><b>Architectural Works</b></a>
                                                    <p class="text-center p-1" style="display: block"> <b> Office and Commercial Building </b> </p>
                                                    <p style="display: block">
                                                        Our group of architects and engineers hold all required licenses with the capabilities of
                                                        performing all major engineering disciplines <br/></p>
                                                    <p class="text-center p-1" style="display: block"> <b> Hotel and Condominiums </b> </p>
                                                    <p style="display: block"> G4Tec's outstanding technical strength is amply demonstrated is expert Hotel constructor, drawing on the technologies accumulated in a wide range of fields from development to renovations,
                                                        G4Tec is determined to provide the best space of refinement and convenience to meet the diverse needs of clients in this era of the global village
                                                    </p>
                                                </li>
                                                <li>
                                                    <a class="active"><b>Renovations</b></a>
                                                    <p style="display: block">G4Tec's outstanding technical strength is amply demonstrated is expert Hotel constructor,
                                                        drawing on the technologies accumulated in a wide range of fields from development to renovations, G4Tec is
                                                        determined to provide the best space of refinement and convenience to meet the diverse needs of clients in
                                                        this era of the global village</p>
                                                    <p class="text-center p-1" style="display: block"> <b> Furniture Installation </b> </p>
                                                    <p class="text-center p-1" style="display: block"> <b> Office and Commercial Building </b> </p>
                                                    <p class="p-1" style="display: block">With 8 years experience in office relocation, office furniture installations, Condominium furniture installation and project management of corporate
                                                        office moves. We can provide a one stop solution for all your relocation. <br/></p>
                                                    <p class="p-1" style="display: block" ><b>Furniture Installation Specialist Services:</b></p>
                                                    <p style="display: block">Consultancy Furniture Installation Services </br>
                                                        • Space Planning<br/>
                                                        • Reconfiguration<br/>
                                                        • Relocation<br/>
                                                        • Move Management<br/>
                                                        • Maintenance & Repairs<br/>
                                                        • Secure Storage
                                                    </p>
                                                </li>
                                                <li>
                                                    <a class="active"><b>Building Art Design</b></a>
                                                    <p class="text-center p-1" style="display: block"> <b> Art Service:</b> </p>
                                                    <p style="display: block">
                                                        • Graphics Arts<br/>
                                                        • Illustration<br/>
                                                        • Concept Art<br/>
                                                        • Interior Design<br/>
                                                        • Exterior Design<br/>
                                                    <p class="text-center p-1" style="display: block"> <b> Design Service:</b> </p>
                                                    <p style="display: block">
                                                        • Graphics Design<br/>
                                                        • Art Direction<br/>
                                                        • Concept Design<br/>
                                                        • Architecture Renovation Design<br/>
                                                        • Interior Renovation Design<br/>
                                                    <p class="text-center p-1" style="display: block"> <b> Building Art Design</b> </p>
                                                    <p style="display: block">
                                                        • Developed Designs<br/>
                                                        • Interior and Exterior<br/>
                                                    </p>
                                                </li>
                                            </ul><!-- .who_we_are_accordion -->
                                        </div><!-- .who_we_are_left_block.itemgrid_block -->
                                    </div>
                                </div><!-- .row -->
                            </div><!-- .section_content -->
                        </div><!-- .spc_container -->
                    </div><!-- .section_inner -->
                </section><!-- .spc_who_we_are.section_bg -->
                <section class="spc_who_we_are section_bg bg-white">
                    <div class="section_inner pt-b-40px mb-2">
                        <div class="spc_container">
                            <div class="section_title">
                                <h2><span>ROAD </span> CONSTRUCTION </h2>
                            </div><!-- .section_title -->
                            <div class="section_content">
                                <div class="row clearfix">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="who_we_are_left_block itemgrid_block">
                                            <p>G4Tec Engineering already prepared to responsible in the all types of road construction with enough modern equipment and the diversity, skills, competence and empowerment of our workforce.
                                                G4Tec have enough experience and ability to survey evaluate estimate and design the structure with the standard by our teamwork. We will give our client the best quality and acceptable price product by using the most modern technology.</p>
                                        </div><!-- .who_we_are_left_block.itemgrid_block -->
                                    </div>
                                </div><!-- .row -->
                            </div><!-- .section_content -->
                        </div><!-- .spc_container -->
                    </div><!-- .section_inner -->
                </section><!-- .spc_who_we_are.section_bg -->
                <section class="spc_who_we_are section_bg">
                    <div class="section_inner pt-b-40px mb-2">
                        <div class="spc_container">
                            <div class="section_title">
                                <h2>PROJECT <span> CONSULTANT</span> </h2>
                            </div><!-- .section_title -->
                            <div class="section_desc">
                                <p>We are engaged in offering industrial Project consultancy services to our Valuable clients in Cambodia. These Industrial project consultancy services are undertaken by our team of skilled professionals, who closely interact with the clients and work according to their requirements in Cambodia.
                                    These industrial project consultancy services are rendered in compliance with the international quality standards in Cambodia</p>
                            </div><!-- .section_desc -->
                            <div class="section_content">
                                <div class="row clearfix">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="who_we_are_left_block itemgrid_block">
                                            <ul class="who_we_are_accordion">
                                                <li>
                                                    <a class="active"><b>Design & Architecture</b></a>
                                                    <p style="display: block">• Architecture Design <br/>
                                                        • Landscape Design <br/>
                                                        • Exterior and Interior Design <br/>
                                                        • Furniture and Structure Design <br/>
                                                        • Urban Planning</p>
                                                </li>
                                                <li>
                                                    <a class="active"><b>MEP Engineering</b></a>
                                                    <p style="display: block">
                                                        • Power and Electricity Supply and Installation<br/>
                                                        • Mechanical and Civil Engineering Water<br/>
                                                        • Treatment and Plumbing</p>
                                                </li>
                                            </ul><!-- .who_we_are_accordion -->
                                        </div><!-- .who_we_are_left_block.itemgrid_block -->
                                    </div>
                                </div><!-- .row -->
                            </div><!-- .section_content -->
                        </div><!-- .spc_container -->
                    </div><!-- .section_inner -->
                </section><!-- .spc_who_we_are.section_bg -->
                <section class="spc_who_we_are section_bg bg-white">
                    <div class="section_inner pt-b-40px mb-2">
                        <div class="spc_container">
                            <div class="section_title">
                                <h2>SECURITY SYSTEMS <span> SOLUTION</span> </h2>
                            </div><!-- .section_title -->
                            <div class="section_desc">
                                <p>G4Tec Engineering is providing complete range of Electronic Security Systems all over Cambodia <br/>
                                    • Fire Fighting System<br/>
                                    • Electronic Surveillance Industry</p>
                            </div><!-- .section_desc -->

                        </div><!-- .spc_container -->
                    </div><!-- .section_inner -->
                </section><!-- .spc_who_we_are.section_bg -->
                <section class="spc_who_we_are section_bg">
                    <div class="section_inner pt-b-40px mb-2">
                        <div class="spc_container">
                            <div class="section_title">
                                <h2>INDUSTRIAL AND POWER <span> SYSTEMS</span> </h2>
                            </div><!-- .section_title -->
                            <div class="section_desc">
                                <p>G4Tec Engineering is a designer and provider of power electronic systems and solutions for all critical power supply needs. Always leading through innovation, we aim to secure the power supply chain at all times and to continually deliver improvements to power solutions across the globe. Our customers range
                                    from industry and infrastructure such as oil, gas and petrochemical companies, power generation</p>
                            </div><!-- .section_desc -->

                        </div><!-- .spc_container -->
                    </div><!-- .section_inner -->
                </section><!-- .spc_who_we_are.section_bg -->
            </div><!-- .single_inner -->
        </div>
        </div>
    </body>
</html>